.version.index /* version checker */
{
	color: #00000C;
	background-color: #431A62;
}

.html
{
	background-color: #FFFFFF;
}

table {
	text-align: center;
	color: rgb(255, 255, 255);
	overflow:scroll;
	/* height:80em; */
	margin-top:35px;
 	border-collapse: separate;
  	border-spacing: 2px;

}


td,th
{
	z-index: 157;
	width: 188px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-left: 10px;
	text-align: center;
	font-family: homenaje, sans-serif;
	font-weight: 400;


  

}

td {
	z-index: 138;
	width: 188px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-left: 10px;
	color: #2E3192;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	font-size: 13px;

}


#wrap
{
	z-index: 1;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 62px;
	margin-top: 120px;
	margin-left: 500px;
	margin-right: 500px;
}

#u75
{
	z-index: 2;
	width: 873px;
	background: transparent url("../images/u75-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,12,188,0.79)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,rgba(0,12,188,0.79) ,#000000 100%);
	background: linear-gradient(to bottom,rgba(0,12,188,0.79) ,#000000 100%);
	border-style: none;
	border-radius: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 27px;
	padding: 15px 15px 9px 18px;
}

#pu128
{
	width: 0.01px;
}

#u128
{
	z-index: 33;
	width: 634px;
	background: #7F7F7F url("../images/u128-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #7F7F7F));
	background: -webkit-linear-gradient(top,#FFFFFF ,#7F7F7F 1884px);
	background: linear-gradient(to bottom,#FFFFFF ,#7F7F7F 1884px);
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	padding: 9px 13px 491px 12px;
}

#u234-4
{
	z-index: 141;
	width: 494px;
	min-height: 24px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	margin-left: 64px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu225
{
	width: 0.01px;
	margin-top: 17px;
}

#u225
{
	z-index: 121;
	width: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u361-4
{
	z-index: 223;
	width: 128px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u226
{
	z-index: 136;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u363-4
{
	z-index: 227;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u227
{
	z-index: 137;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u364-4
{
	z-index: 231;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u327
{
	z-index: 155;
	width: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 322px;
}

#u365-4
{
	z-index: 235;
	width: 128px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u328
{
	z-index: 156;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u366-4
{
	z-index: 239;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u329
{
	z-index: 157;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #002C9D;
	background-color: #0048D4;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 545px;
}

#u367-4
{
	z-index: 243;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#pu231
{
	width: 0.01px;
	margin-top: 5px;
}

#u231
{
	z-index: 138;
	width: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u368-4
{
	z-index: 247;
	width: 128px;
	min-height: 16px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u232
{
	z-index: 139;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u369-4
{
	z-index: 251;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u233
{
	z-index: 140;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u370-4
{
	z-index: 255;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	letter-spacing: 1px;
	font-family: homenaje, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u330
{
	z-index: 158;
	width: 127px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 322px;
}

#u331
{
	z-index: 159;
	width: 88px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u332
{
	z-index: 160;
	width: 88px;
	height: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #9DECFF;
	background-color: #CEF1FF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 545px;
}

#ppu76
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 675px;
}

#pu76
{
	width: 0.01px;
	margin-left: 1px;
}

#u76
{
	z-index: 3;
	width: 47px;
	border-color: #0000FF;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u106
{
	z-index: 20;
	width: 41px;
	height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
	background: #FFFFFF url("../images/police-u106-fr.png") no-repeat center center;
	background-size: contain;
}

#u77
{
	z-index: 4;
	width: 146px;
	border-style: none;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u80-6
{
	z-index: 10;
	width: 84px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
}

#u80-2
{
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
}

#u80-4
{
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	font-style: italic;
}

#u78
{
	z-index: 5;
	width: 34px;
	background: #00297B url("../images/u78-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0073FF),color-stop(78%, #00297B));
	background: -webkit-linear-gradient(top,#0073FF ,#00297B 78%);
	background: linear-gradient(to bottom,#0073FF ,#00297B 78%);
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 98px;
	padding: 1px 4px 3px;
}

#u79-4
{
	z-index: 6;
	width: 32px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u85-4
{
	z-index: 16;
	width: 34px;
	min-height: 7px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 0px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u337
{
	z-index: 122;
	width: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u119
{
	z-index: 123;
	width: 197px;
	border-width: 1px;
	border-style: solid;
	border-color: #004385;
	background-color: #005BB6;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u212
{
	z-index: 135;
	width: 24px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
	background: transparent url("../images/cart.png") no-repeat center center;
	background-size: contain;
}

#u203-5
{
	z-index: 130;
	width: 86px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 35px;
}

#u336
{
	z-index: 124;
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 128px;
}

#u120
{
	z-index: 125;
	width: 66px;
	background: #004300 url("../images/u120-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#00A100),color-stop(100%, #004300));
	background: -webkit-linear-gradient(top,#00A100 ,#004300 100%);
	background: linear-gradient(to bottom,#00A100 ,#004300 100%);
	border-radius: 2px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u121-4
{
	z-index: 126;
	width: 44px;
	min-height: 7px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 12px;
}

#u122
{
	z-index: 21;
	width: 197px;
	border-width: 1px;
	border-style: solid;
	border-color: #004385;
	background-color: #005BB6;
	border-radius: 5px;
	padding-bottom: 3px;
	margin-top: 4px;
	position: relative;
}

#u211
{
	z-index: 120;
	width: 24px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
	background: transparent url("../images/film.png") no-repeat center center;
	background-size: contain;
}

#u202-5
{
	z-index: 114;
	width: 89px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 35px;
}

#u123
{
	z-index: 22;
	width: 66px;
	background: #002142 url("../images/u123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #002142));
	background: -webkit-linear-gradient(top,#7F7F7F ,#002142 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#002142 100%);
	border-radius: 2px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 128px;
}

#u124-4
{
	z-index: 23;
	width: 60px;
	min-height: 7px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
}

#u125
{
	z-index: 27;
	width: 197px;
	border-width: 1px;
	border-style: solid;
	border-color: #004385;
	background-color: #005BB6;
	border-radius: 5px;
	padding-bottom: 3px;
	margin-top: 4px;
	position: relative;
}

#u204
{
	z-index: 119;
	width: 24px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
	background: transparent url("../images/money.png") no-repeat center center;
	background-size: contain;
}

#u201-5
{
	z-index: 109;
	width: 91px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 35px;
}

#u126
{
	z-index: 28;
	width: 66px;
	background: #004300 url("../images/u120-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#00A100),color-stop(100%, #004300));
	background: -webkit-linear-gradient(top,#00A100 ,#004300 100%);
	background: linear-gradient(to bottom,#00A100 ,#004300 100%);
	border-radius: 2px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 128px;
}

#u127-4
{
	z-index: 29;
	width: 44px;
	min-height: 7px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 12px;
}

#u338
{
	z-index: 35;
	width: 198px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u129
{
	z-index: 36;
	width: 47px;
	border-color: #0000FF;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u130
{
	z-index: 37;
	width: 41px;
	height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
	background: #FFFFFF url("../images/doctor.png") no-repeat center center;
	background-size: contain;
}

#u131-5
{
	z-index: 38;
	width: 88px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	font-style: italic;
	position: relative;
}

#u131
{
	font-style: normal;
}

#u138
{
	z-index: 43;
	width: 87px;
	border-style: solid;
	border-color: #FF0000;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 3px;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u139-4
{
	z-index: 44;
	width: 21px;
	min-height: 13px;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 6px;
}

#u140-4
{
	z-index: 48;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 29px;
}

#u141
{
	z-index: 52;
	width: 51px;
	background: #004300 url("../images/u141-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#00A100),color-stop(100%, #004300));
	background: -webkit-linear-gradient(top,#00A100 ,#004300 100%);
	background: linear-gradient(to bottom,#00A100 ,#004300 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #0051A9;
	border-radius: 2px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u142-8
{
	z-index: 53;
	width: 44px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#pu143
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 8px;
}

#u143
{
	z-index: 34;
	width: 47px;
	border-color: #0000FF;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u144
{
	z-index: 61;
	width: 41px;
	height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
	background: #FFFFFF url("../images/taxi-front-yellow-icon.png") no-repeat center center;
	background-size: contain;
}

#pu131-5,#pu145-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 53px;
}

#u145-5
{
	z-index: 62;
	width: 88px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	font-style: italic;
	position: relative;
}

#u146
{
	z-index: 67;
	width: 87px;
	border-style: solid;
	border-color: #F7931E;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 3px;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u147-4
{
	z-index: 68;
	width: 21px;
	min-height: 13px;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 6px;
}

#u148-4
{
	z-index: 72;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 29px;
}

#u149
{
	z-index: 76;
	width: 51px;
	background: #004300 url("../images/u141-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#00A100),color-stop(100%, #004300));
	background: -webkit-linear-gradient(top,#00A100 ,#004300 100%);
	background: linear-gradient(to bottom,#00A100 ,#004300 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #0051A9;
	border-radius: 2px;
	padding-bottom: 9px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 145px;
}

#u150-8
{
	z-index: 77;
	width: 44px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#pu151
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 10px;
}

#u151
{
	z-index: 85;
	width: 47px;
	border-color: #0000FF;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u152
{
	z-index: 86;
	width: 41px;
	height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
	background: #FFFFFF url("../images/repair.png") no-repeat center center;
	background-size: contain;
}

#pu153-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 53px;
}

#u153-4
{
	z-index: 87;
	width: 88px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	font-style: italic;
	position: relative;
}

#u154
{
	z-index: 91;
	width: 87px;
	border-style: solid;
	border-color: #A200A9;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 3px;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u155-4
{
	z-index: 92;
	width: 21px;
	min-height: 13px;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 6px;
}

#u156-4
{
	z-index: 96;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 29px;
}

#u157
{
	z-index: 100;
	width: 51px;
	background: #004300 url("../images/u141-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#00A100),color-stop(100%, #004300));
	background: -webkit-linear-gradient(top,#00A100 ,#004300 100%);
	background: linear-gradient(to bottom,#00A100 ,#004300 100%);
	border-radius: 2px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u158-8
{
	z-index: 101;
	width: 44px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u339
{
	z-index: 161;
	width: 197px;
	height: 105px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
	background: transparent url("../images/sarp_logo.png") no-repeat left top;
	background-size: contain;
}

#u346
{
	z-index: 162;
	width: 197px;
	background-color: transparent;
	padding-bottom: 9px;

	margin-top: 5px;
	position: relative;
}

#u347-14
{
	z-index: 163;
	width: 68px;
	min-height: 88px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1px;
}

#u349-14
{
	z-index: 191;
	width: 131px;
	min-height: 88px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 66px;
}

#pu355-4
{
	width: 0.01px;
	margin-left: 706px;
	margin-top: -7px;
}

#u355-4
{
	z-index: 205;
	width: 80px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u357
{
	z-index: 209;
	width: 51px;
	background: #000000 url("../images/u357-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0087C2),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#0087C2 ,#000000 100%);
	background: linear-gradient(to bottom,#0087C2 ,#000000 100%);
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}

#u354-4
{
	z-index: 210;
	width: 51px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu237-6
{
	width: 0.01px;
	margin-top: 3px;
}

#u237-6
{
	z-index: 145;
	width: 659px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u358-4
{
	z-index: 214;
	width: 96px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 690px;
}

#u359
{
	z-index: 218;
	width: 51px;
	background: #000000 url("../images/u357-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0087C2),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#0087C2 ,#000000 100%);
	background: linear-gradient(to bottom,#0087C2 ,#000000 100%);
	border-style: none;
	border-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 789px;
}

#u360-4
{
	z-index: 219;
	width: 51px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u243-4
{
	z-index: 151;
	width: 144px;
	min-height: 13px;
	border-style: none;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 722px;
}

#u348-14
{
	z-index: 177;
	width: 4px;
	min-height: 88px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 781px;
}

#u203,#u202,#u201,#u145,#u153,#u347,#u347-3,#u347-5,#u347-7,#u347-9,#u347-11,#u348,#u348-3,#u348-5,#u348-7,#u348-9,#u348-11
{
	font-weight: bold;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

